@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #e4cec1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  font-family: 'Fredoka', sans-serif;
}
.wrapper{
  width: 700px;
  background: white;
  margin: 25px auto;
  display: flex;
}
.left{
  background-color: #f5f5f5;
  width: 250px;
  padding: 0 20px;
}
.left .picture{
  text-align: center;
  padding-top: 75px;
  padding-bottom: 30px;
}
.left .picture img{
  width: 150px;
  border-radius: 50%;
}
.right{
  width: calc(100% - 250px);
}
.title{
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #797979;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.title{
  border-bottom: 2px solid;
  border-color: #797979;
}
.left .text{
  color: #baa297;
  font-size: 14px;
}
.left ul{
  margin-left: -15px;
}
.contact .liWrap{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.left .icon{
  font-size: 22px;
  padding-right: 10px;
  color: #595959;
}
.contact .liWrap .text{
  width: calc(100% - 10px);
  word-break: break-word;
}
.contactWrapper{
  padding-bottom: 20px;
}
.nameRole .name{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 550;
  color: #595959;
  border-bottom: 2px solid;
  border-color: #595959;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.nameRole .role{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color:#797979;
}
.nameRole{
  margin-bottom: 30px;
}
.right{
  padding: 50px;
}
.right .eduWrapper{
  margin-top: 30px;
}
.right .liWrap{
  margin-bottom: 15px;
}
.lanWrap{
  display: flex;
}
.right .liWrap{
  width: 100%;
  position: relative;
}
.right .nameDate{
  display: flex;
}
.right .liWrap .liTitle{
  text-transform: uppercase;
  font-weight: 550;
  font-size: 18px;
  letter-spacing: 2px;
  color: #797979;
  margin-bottom: 5px;
}
.right .liWrap .nameDate{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: #afafaf;
  display: flex;
  justify-content: flex-start;
}
.right .liWrap .nameDate .name,
.right .liWrap .nameDate .line{
  padding-right: 10px;
}
.cont{
  color: #afafaf;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
.eduWrapper,
.expWrapper{
  margin-bottom: 50px;
}
.left .cont{
  padding: 0 30px;
  display: flex;
}
.lanWrap{
  display: flex;
  color: #afafaf;
}
.lanWrap .lan,
.lanWrap .line{
  padding-right: 10px;
  color: #797979;
}
.lanWrap p{
  line-height: 1.0;
}


